/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define TAPPING_TERM 300

#define L_BASE 0
#define L_NAVIGATION 1
#define L_SYMBOLS 2
#define L_NUMBERS 3
#define L_FKEYS 4
#define L_ONEHAND_LETTERS 5
#define L_ONEHAND_NUMBERS 6

#define HYPER(key) LS(LC(LA(LG(key))))
#define KMAESTRO(key) LS(LC(LA(key)))
#define INTERPUNCT LS(LA(N9))
#define BULLET LA(N8)
#define EXCLAMATION_INVERTED LA(N1)
#define QUESTION_INVERTED LS(LA(SLASH))
#define ORDINAL_MASCULINE LA(N0)
#define ORDINAL_FEMENINE LA(N9)
#define DEGREE LS(LA(N8))
#define EUR LS(LA(N2))
#define GBP LA(N3)


&mt {
  tapping-term-ms = <TAPPING_TERM>;
  flavor = "tap-preferred";
};

/ { 

  combos {
      compatible = "zmk,combos";
      combo_esc {
          timeout-ms = <50>;
          key-positions = <30 31>;
          bindings = <&to L_ONEHAND_LETTERS>;
      };
  };

  keymap {
      compatible = "zmk,keymap";

      default_layer {
      bindings = <
      &kp Q &kp W &kp F &kp P &kp B 					  &kp J &kp L &kp U &kp Y &kp SEMICOLON 
      &mt LCTRL A &mt LALT R &mt LCMD S &mt LSHIFT T &kp G 			      &kp M &mt LSHIFT N &mt LCMD E &mt LALT I &mt LCTRL O
      &kp Z &kp X &kp C &kp D &kp V				      &kp K &kp H &kp COMMA &kp DOT &kp SLASH
                        &lt L_NAVIGATION ESC &lt L_SYMBOLS RETURN      &lt L_NUMBERS SPACE &lt L_FKEYS BACKSPACE
      >;
      };

      navigation_layer {
      bindings = <
      &kp KMAESTRO(F1) &kp KMAESTRO(F2) &kp KMAESTRO(F3) &kp KMAESTRO(F4) &none        &kp DOWN &kp RIGHT &kp K_MUTE &none &kp C_PLAY_PAUSE
      &mt LCTRL KMAESTRO(F5) &mt LALT KMAESTRO(F6) &mt LCMD KMAESTRO(F7) &mt LSHIFT KMAESTRO(F8) &none         &none &kp LSHIFT &mt LCMD C_VOLUME_UP &mt LALT F15 &mt LCTRL C_NEXT
      &kp KMAESTRO(F9) &kp KMAESTRO(F10) &kp LG(C) &none &kp LG(V)        &kp UP &kp LEFT &kp C_VOLUME_DOWN &kp F14 &kp C_PREVIOUS
                        &none &none        &kp TAB &kp DELETE
      >;
      };
      
      symbols_layer {
      bindings = <
      &kp TILDE &kp CARET &kp INTERPUNCT &kp BULLET &none        &none &none &none &none &none
      &mt LCTRL BACKSLASH &mt LALT GRAVE &mt LCMD DOUBLE_QUOTES &mt LSHIFT SINGLE_QUOTE &kp AT_SIGN        &kp EXCLAMATION &mt LSHIFT LEFT_PARENTHESIS &mt LCMD LEFT_BRACE &mt LALT LEFT_BRACKET &mt LCTRL QUESTION
      &none &none &none &kp AMPERSAND &kp PIPE        &kp EXCLAMATION_INVERTED &kp RIGHT_PARENTHESIS &kp RIGHT_BRACE &kp RIGHT_BRACKET &kp QUESTION_INVERTED
                        &none &none        &none &none
      >;
      };	

      numbers_layer {
      bindings = <
      &none &kp ORDINAL_MASCULINE &kp ORDINAL_FEMENINE &kp DEGREE &none        &kp GBP &kp N7 &kp N8 &kp N9 &kp N0
      &mt LCTRL UNDERSCORE &mt LALT PLUS &mt LCMD MINUS &mt LSHIFT EQUAL &kp HASH        &kp EUR &mt LSHIFT N4 &mt LCMD N5 &mt LALT N6 &mt LCTRL PERIOD
      &none &none &kp SLASH &kp ASTERISK &kp PERCENT        &kp DOLLAR &kp N1 &kp N2 &kp N3 &kp COMMA
                        &none &none        &none &none
      >;
      };	

      fkeys_layer {
      bindings = <
      &kp F1 &kp F2 &kp F3 &kp F4 &kp F5         &none &none &none &none &none
      &mt LCTRL F6 &mt LALT F7 &mt LCMD F8 &mt LSHIFT F9 &kp F10       &none &kp LSHIFT &kp LCMD &kp LALT &kp LCTRL
      &kp F11 &kp F12 &kp F13 &kp F14 &kp F15        &none &none &none &none &none
                        &none &none        &none &none
      >;
      };	

      onehand_letters_layer {
      bindings = <
      &none &kp Y &kp U &kp L &kp J        &none &none &none &none &none
      &mt LCTRL O &mt LALT I &mt LCMD E &mt LSHIFT N &kp M        &none &none &none &none &none
      &none &none &none &kp H &kp K        &none &none &none &none &none
                        &to L_BASE &mt SPACE BACKSPACE      &none &none
      >;
      };	

    };
};
